// ReSharper disable InconsistentNaming
// ReSharper disable ClassNeverInstantiated.Global
namespace IoC
{
    /// <summary>
    /// Represents the generic type parameter marker.
    /// </summary>
    [PublicAPI, GenericTypeArgument]
    public class TT { }

<#for(int i = 1; i <= 32; i++) {#>
    /// <summary>
    /// Represents the generic type parameter marker.
    /// </summary>
    [PublicAPI, GenericTypeArgument]
    public class TT<#=i#> { }

<#}#>
}
